{% extends 'base.html' %}

{% block navlinks %}
    <li class="nav-item">
        <a href="{% url 'post_list' %}" class="nav-link">Posts</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'post_draft_list' %}" class="nav-link">Drafts</a>
    </li>
{% endblock %}


    {% block content %}
        <div class="row">
        <a href="{% url 'post_new' %}" class="btn btn-secondary"><span class="fa fa-plus-square"> New Post</span></a>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-8 blog-main">
            {% block contentbody %}
            {% endblock %}
            </div>
        </div>
    {% endblock %}
